* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #b30000;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('img/burger.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

header {
    background-color: #8a0000;
    color: white;
    padding: 15px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Escurece o fundo */
    min-height: 100vh;
    padding-bottom: 80px; /* espaço pro footer */
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 60px;
    width: auto;
    display: block;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    transition: 0.3s;
}

.menu li a:hover {
    background-color: #660000;
    border-radius: 5px;
}

section {
    max-width: 800px;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 12px;
    color: #222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

section h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #8C0000;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 16px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.lanche {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 35px;
    align-items: center;
}

.preco {
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color: #660000; 
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer a {
    color: #ffcccc;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    section {
        width: 90%;
    }
}
